@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jetbrains Mono", monospace;
}

.nice-shadow {
  box-shadow:  0px 0px 20px rgba(24, 24, 30, 0.1),
                10px 10px 20px rgba(24, 24, 30, 0.1),
                8px 8px 12px rgba(255, 255, 255, 0.5) inset,
                -8px -8px 20px rgba(24, 24, 30, 0.15) inset;
}

.nice-shadow-2 {
  box-shadow:  -8px -8px 10px rgba(255, 255, 255, 0.6),
                8px 8px 10px rgba(24, 24, 30, 0.1),
                6px 6px 8px rgba(24, 24, 30, 0.1) inset,
                -6px -6px 8px rgba(255, 255, 255, 0.6) inset;
}

.realshadow {
  box-shadow:  -6px 0px 8px rgba(255, 255, 255, 0.7),
                4px 6px 12px rgba(24, 24, 30, 0.15),
                0 -1px 6px rgba(24, 24, 30, 0.1);
}